doctype html
html
   head
      title = "Homepage!"
      style.
          body {
              font-family: Verdana;
              font-size: 17px;
              background: #C270F5;
              text-align:center;
          }
   body
     h1 Homepage!
     a(href='/calculator') Do Some Math!
     br
     h3 By Christopher Rogers
